
.ct1{
    margin-bottom: 20px;
}

.ct-b{
    /* width: 400px !important; */
    width: 100%;
    max-width: 100% !important;
    background-color: #ffd200 !important;
    border: #ffd200 !important;
    color: black !important;
}